section:nth-child(odd), header, footer {
    background-color: #dff0d8;
    border-top: #d6e9c6;
    border-bottom: #d6e9c6;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.navbar {
    margin-bottom: 0;
}

.oi {
    font-size: 0.8em;
    padding-right: 0.4em;
}
