section:nth-child(odd), header, footer {
    background-color: #dff0d8;
    border-top: #d6e9c6;
    border-bottom: #d6e9c6;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.navbar {
    margin-bottom: 0;
}

.oi {
    font-size: 0.8em;
    padding-right: 0.4em;
}

footer {
    padding-top: 1em;
}

footer p {
    padding-bottom: 1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#opleidingen h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.reasons {
    list-style-type: none;
}

.reasons li {
    text-indent: -12px;
    padding-right: 32px;
    padding-left: 0px;
    padding-bottom: 24px;
}

.reasons li .oi {
    padding-right: 0.9em;
}

.oi-check {
    color: #28a745;
}

#news{
    padding-top: 2rem;
}
