a {
  color: #0056b3;
}

section:nth-child(3), header, footer {
    background-color: #dff0d8;
    border-top: #d6e9c6;
    border-bottom: #d6e9c6;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.h-70 {
    height: 70%!important;
}

.h-30 {
    height: 30%!important;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.navbar {
    margin-bottom: 0;
}

.oi {
    font-size: 0.8em;
    padding-right: 0.4em;
}

footer {
    padding-top: 1em;
}

footer p {
    padding-bottom: 1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#opleidingen h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.reasons {
    list-style-type: none;
}

.reasons li {
    text-indent: -0.75rem;
    padding-right: 2rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.reasons li .oi {
    padding-right: 0.9em;
}

.oi-check {
    color: #28a745;
}

time {
    font-size: 0.75rem;
    color: gray;
}

/* Styling for persons layout */

.persons {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.persons.row {
    margin-right: 0;
    margin-left: 0;
}

.persons li {
    min-width : 12rem;
    padding-right: 2rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
    text-align: center;
}

/* Styling for images on contact page */

#env1 {
    background-image: url("../img/env1.jpg");
    background-position: center;
}

#env4 {
    background-image: url("../img/env4.jpg");
    background-position: left top;
}

#env2 {
    background-image: url("../img/env2.jpg");
}

#env3 {
    background-image: url("../img/env3.jpg");
}

